
:root {
--primary-color: #f8fafc;
--secondary-color: #0ea5e9;
--third-color: #22c55e;
--fourth-color:#e2e8f0;
}

.container {
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 350px;
    padding: 0rem 1rem;
    margin:auto;
}
.heading {
    color: var(--secondary-color);
    
}

.change-table {
    background-color: var(--fourth-color);
    padding: 1rem;
    border-radius: 25px;
}


#check-button {
    background-color: var(--secondary-color); 
    padding: 0.5rem 1rem;
    border-radius: 25px;
    color: white;
    max-width: 350px;
    margin:auto;
} 

